<script>
  document.title = "Login";
</script>
<div class="my-5"></div>
<div id="login-form" class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
  <div class="card shadow-lg">
    <div class="card-body p-5">
      <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
      {{ if hasField . "Username"}}
      <div class="w-100 d-flex justify-content-between align-items-center">
        <small
          class="blockquote-footer mt-0 mb-0 text-right d-flex align-items-center"
        >
          You are logged in as &nbsp;
          <button
            hx-get="account"
            hx-target="#id-base-div-2"
            class="btn btn-sm px-0 py-0 border-0"
          >
            <cite class="text-warning underline">
              <u> {{ .Username }} </u>
            </cite>
          </button>
        </small>
        <button
          hx-get="logout"
          hx-target="#id-base-div-2"
          class="float-end badge btn-warning pa-1"
        >
          Log Out
        </button>
      </div>
      {{ else }}
      <form hx-post="login" hx-target="#id-base-div-2" autocomplete="off">
        <div class="mb-3">
          <label class="mb-2 text-muted" for="email">Login</label>
          <input
            id="email"
            class="form-control"
            name="Login"
            value="{{ getf . "Login" "" }}"
            required
            autofocus
          />
        </div>

        <div class="mb-3">
          <input
            id="password"
            type="password"
            class="form-control"
            name="Password"
            required
          />
          <div class="mb-2 w-100">
            <label class="text-muted" for="password">Password</label>
          </div>
        </div>
        {{ if hasField . "Err" }}
        <div class="text-danger">{{ .Err }}</div>
        {{ end }}
        <div class="d-flex align-items-center">
          <div class="form-check">
            <input
              type="checkbox"
              name="remember"
              id="remember"
              class="form-check-input"
            />
            <label for="remember" class="form-check-label">Remember Me</label>
          </div>
          <button type="submit" class="btn btn-primary ms-auto">Login</button>
        </div>
      </form>
      {{ end }}
    </div>
    <div class="card-footer py-3 border-0">
      <div class="d-flex justify-content-center align-items-center">
        <div>
          Don't have an account?
        </div>
        <button
          hx-get="component_register"
          hx-target="#id-base-div-2"
          class="text-dark btn btn-info btn-sm"
          style="margin-left: .5rem;"
        >
          Create one
        </button>
      </div>
    </div>
  </div>
</div>
