{{ block "navbar" . }}

<nav
  id="id-navbar-1"
  class="p-1 navbar navbar-expand-lg sticky-top bg-dark border-bottom border-body"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <div class="navbar-brand position-relative">
      <a
        id="Navbar.UsingHistoryName"
        hx-get="/"
        hx-target="#id-base-div-2"
        class="text-white text-white btn p-0 fs-4"
      >
        <!-- placeholder for values filled with JS -->
      </a>
      <a
        id="Navbar.BrowsingHistoryName"
        href=""
        style="
          font-size: 0.55rem;
          position: absolute;
          top: 0.2em;
          left: 15em;
          padding: 2px;
          max-width: 15em;
          overflow: hidden;
        "
        class="btn text-white badge rounded-pill bg-info"
      >
        <!-- placeholder for values filled with JS -->
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list"></i>
    </button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <div class="d-flex ms-auto" role="search">
        <input
          class="form-control form-control-sm me-2"
          type="search"
          placeholder="Story, Age, History..."
          aria-label="Search"
        />
        <!-- TODO search -->
        <button
          class="btn btn-sm btn-outline-success input-group-text"
          type="submit"
        >
          Search
        </button>
      </div>
      <button
        id="Navbar.UserProfile"
        class="ms-0 ms-lg-2 my-2 my-lg-0 btn btn-sm btn-light rounded-circle"
        hx-get="/profile"
        hx-target="#id-base-div-2"
        style="display: none"
      >
        <i class="bi bi-person-fill"></i>
      </button>
      <button
        id="Navbar.UserSignIn"
        class="ms-0 ms-lg-2 my-2 my-lg-0 btn btn-sm btn-light"
        hx-get="/signin"
        hx-target="#id-base-div-2"
        style="display: none"
      >
      Sign In
      <i class="bi bi-door-open"></i>
      </button>
    </div>
  </div>
</nav>

<script>
  var UsingHistoryName = document.getElementById("Navbar.UsingHistoryName");
  var BrowsingHistoryName = document.getElementById(
    "Navbar.BrowsingHistoryName"
  );
  var Profile = document.getElementById("Navbar.UserProfile");
  var SignIn = document.getElementById("Navbar.UserSignIn");

  function setUsingBrowsingHistoryName(usingName, browsingName, browsingURL) {
    UsingHistoryName.innerText = usingName;
    if (usingName === browsingName) {
      BrowsingHistoryName.style.visibility = "hidden";
      return;
    };
    BrowsingHistoryName.style.visibility = "visible";
    BrowsingHistoryName.innerText = browsingName;
    BrowsingHistoryName.href = browsingURL;
  }

  function profileOrSignIn(signedIn) {
    console.log(signedIn, typeof signedIn);
    if (signedIn) {
      SignIn.style.display = 'none';
      Profile.style.display = 'block';
      console.log('if', SignIn.style.display, Profile.style.display);
    } else {
      SignIn.style.display = 'block';
      Profile.style.display = 'none';
      console.log('else', SignIn.style.display, Profile.style.display);
    }
  }

</script>
{{ template "navbar_js" . }}

{{ end }}

{{ block "navbar_js" . }}
<script>
  setUsingBrowsingHistoryName(
    "{{ .UsingHistoryName }}",
    "{{ .BrowsingHistoryName }}",
    "{{ .BrowsingHistoryURL }}"
  );

  profileOrSignIn({{ if .SignedIn }} true {{ else }} false {{ end }});
</script>
{{ end }}
