{{ block "story" . }}
<div class="card">
  <div class="card-header">
    <figure class="w-100 d-flex justify-content-between align-items-center m-0">
      <a
      {{ if .StoryURL }}
        hx-get="{{ .StoryURL }}"
        hx-target="#id-main-age"
        {{ end }}
        style="text-decoration: none"
      >
        <blockquote class="blockquote m-0">
          <p>{{ .StoryTitle }}</p>
        </blockquote>
      </a>
      <figcaption class="blockquote-footer m-0">
        <cite title="Author of the Story.">{{ .StoryAuthor }}</cite>
      </figcaption>
    </figure>
  </div>
  <div class="card-body">
    <!-- TODO content at first has like up to 1000 chars, and only when clicked read more does it request the whole length -->
    <p
      class="px-2 rounded overflow-auto text-break {{ if .ClampContent }} line-clamp-4 {{ end }}"
      id="story-content-{{.StoryId}}"
      background-color="primary"
    >
      {{ .StoryContent }}
    </p>
    {{ if .ClampContent }}
    <button
      class="btn btn-sm btn-outline-info p-1"
      onclick="document.querySelector('#story-content-{{.StoryId}}').classList.add('line-clamp-4')"
    >
      Read less...
    </button>
    <button
      class="btn btn-sm btn-outline-warning p-1"
      onclick="document.querySelector('#story-content-{{.StoryId}}').classList.remove('line-clamp-4')"
    >
      Read more...
    </button>
    {{ end }}
  </div>
</div>

<!-- TODO comments -->

{{ end }}
