{{ block "navbar" . }}

<nav
  id="id-navbar-1"
  class="p-1 navbar navbar-expand-lg sticky-top bg-dark border-bottom border-body"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand position-relative" href="/" id="navbar-using-history">
        <div id="Navbar.UsingHistoryName">{{ .UsingHistoryName }}</div>
        <a   id="Navbar.BrowsingHistoryName"   href="{{ .BrowsingHistoryURL }}"   style="font-size: 0.55rem"   class="position-absolute top-0 start-100 badge rounded-pill bg-info">{{ .BrowsingHistoryName }}</a>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list"></i>
    </button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>

      <div class="d-flex" role="search">
        <input
          class="form-control form-control-sm me-2"
          type="search"
          placeholder="Story, Age, History..."
          aria-label="Search"
        />
        <button
          class="btn btn-sm btn-outline-success input-group-text"
          type="submit"
        >
          Search
        </button>
      </div>
      {{ if .UserProfile }}
      <button
        class="ms-0 ms-lg-2 my-2 my-lg-0 btn btn-sm btn-light rounded-circle"
        href="/profile"
      >
        <i class="bi bi-person-fill"></i>
      </button>
      {{ end }}
    </div>
  </div>
</nav>

<script>

//   var UsingHistoryName = document.getElementById("Navbar.UsingHistoryName");
//   var BrowsingHistoryName = document.getElementById("Navbar.BrowsingHistoryName");

//   BrowsingHistoryName.style.visibility = {{ if .BrowsingHistoryName }} 'visable' {{ else }} 'hidden' {{ end }};
</script>

{{ end }}
