{{ template "basestart" . }}

{{ block "home" . }}
<div>
    <h1>
        Welcome to {{ .DisplayName }}
    </h1>
    <div>
        <h3>Ages in this History:</h3>
        <ul>
        {{range .LocalAges}}
            <li>
                {{ template "age_link" . }}
            </li>
        {{end}}
        </ul>
    </div>
    <div>
        <h3>We are peered with:</h3>
        <ul>
        {{range .Peers}}
            <li>
                <a href="{{ .Href }}">{{ .DisplayName }}</a>
            </li>
        {{end}}
        </ul>
        <p>
            This means, that you can post to those Histories while being logged in here
            (if that history is peered with your Parent History).
        </p>
    </div>
</div>
<script>
// function defined in 'comp_navbar';
setUsingBrowsingHistoryName("{{ .UsingHistoryName }}", "{{ .BrowsingHistoryName }}", "{{ .BrowsingHistoryURL }}");
</script>
{{ end }}

{{ template "baseend" }}
