{{ template "basestart" }}

{{ block "age" . }}
<div>
    <h1>{{ .Name }}</h1>
    <p>{{ .Description }}</p>

    {{ template "write_story" .WriteStory }}

    <div class="mt-4">
    {{ range .Stories }}
        <div class="my-4">
            {{ template "post" . }}
        </div>
    {{ end }}
    </div>
</div>
<script>
var UsingHistoryName = document.getElementById("Navbar.UsingHistoryName");
var BrowsingHistoryName = document.getElementById("Navbar.BrowsingHistoryName");

UsingHistoryName.innerText = "{{ .UsingHistoryName }}";


{{ if .BrowsingHistoryName }} 
    BrowsingHistoryName.style.visibility = 'visable' ;
    BrowsingHistoryName.innerText = "{{ .BrowsingHistoryName }}";
{{ else }} 
    BrowsingHistoryName.style.visibility = 'hidden';
{{ end }}

</script>
{{ end }}

{{ template "baseend" }}
