{{ template "basestart" }}

{{ block "age" . }}
<div>
    <h1>{{ .Name }}</h1>
    <p>{{ .Description }}</p>

    {{ template "write_story" .WriteStory }}

    <div class="mt-4">
    {{ range .Stories }}
        <div class="my-4">
            {{ template "post" . }}
        </div>
    {{ end }}
    </div>
</div>
<script>
// function defined in 'comp_navbar';
setUsingBrowsingHistoryName("{{ .UsingHistoryName }}", "{{ .BrowsingHistoryName }}", "{{ .BrowsingHistoryURL }}");
</script>
{{ end }}

{{ template "baseend" }}
